<launch>
    <include file="$(find robot_navigation)/launch/lidar/$(arg lidar_type).launch">
        <arg name="lidar_frame"            value="base_laser_link"/>
    </include>
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="0.115 0.0 0.165 3.14159265 0.0 0.0 /base_footprint base_laser_link 20">
    </node>
</launch>
